{% extends "base.html" %} 

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block navbar %} {% endblock %}

{% block content %}
<div class="form-container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            <p>
                <label for="username">{{ form.username.label }}</label>
                {{ form.username(size=32, id="username", aria_required="true") }}
                {% for error in form.username.errors %}
                <span id="username-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">
            <p>
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(size=32, id="password", aria_required="true") }}
                {% for error in form.password.errors %}
                <span id="password-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">
            <p>
                <button type="submit">Sign In</button>
            </p>
        </div>
    </form>

    <footer class="footer">
        <p>
            <a href="{{ url_for('register') }}">Click here to Register</a>
        </p>
    </footer>

</div> {% endblock %}