{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block navbar %} {% endblock %}

{% block content %} 
<div class="form-container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            <p>
                <label for="username">{{ form.username.label }}</label>
                {{ form.username(size=32, id="username", aria_required="true") }}
                {% for error in form.username.errors %}
                <span id="username-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">
            <p>
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(size=32, id="email", aria_required="true") }}
                {% for error in form.email.errors %}
                <span id="email-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">
            <p>
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(size=32, id="password", aria_required="true") }}
                {% for error in form.password.errors %}
                <span id="password-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">
            <p>
                <label for="confirm_password">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(size=32, id="confirm_password", aria_required="true") }}
                {% for error in form.confirm_password.errors %}
                <span id="confirm_password-error" class="error-message">{{ error }}</span> {% endfor %}
            </p>
        </div>
        
        <div class="form-group">

        </div>
        <p>
            <button type="submit">Sign Up</button>
        </p>
    </form>

    <footer class="footer"> <!-- Added class "footer" here -->
        <p>
            <a href="{{ url_for('login') }}">Click here to Log In</a>
        </p>
    </footer>

</div>
{% endblock %}